<h1>My Bookmarks</h1>
<% if policy(Topic).index? %>
<div class="text-center"><%= render partial: 'topics/form', locals: { topic: @new_topic} %></div>
<% end %>

<div class="row-flex">
    <%= render @topics %>
</div>