<h1>My Bookmarks</h1>
<%= render @bookmarks %>

<h1>Liked Bookmarks</h1>
<% for like in @likes %>
    <!--Or <%#= render like.bookmark %>-->
    <%= render partial: 'bookmarks/bookmark', locals: {bookmark: like.bookmark} %>
<% end %>