<h1>How do I email a bookmark to Mylinks?</h1>
    <h2>Bookmark Via Email</h2>

    <p>Note: Make sure to send from the email associated with your Blocmark account!</p>

    <p><strong>Send an email to:</strong> hi@sandbox4004483739994aa78e80d54ac6e8af5d.mailgun.org</p>
    <p><strong>Subject:</strong> The bookmark topic
    </br>**Sending a subject with the name of an existing topic will add the bookmark to that topic. Sending a subject with a new topic name will automatically generate the topic.</p>
    <p><strong>Body:</strong> Bookmark URL</p>

    <h3>Example</h3>

    <p><strong>To:</strong> hi@sandbox4004483739994aa78e80d54ac6e8af5d.mailgun.org</p>
    <p><strong>From:</strong> nechamabergman@gmail.com</p>
    <p><strong>Subject:</strong> Cloud Hosting</p>
    <p><strong>Body:</strong> https://aws.amazon.com/s3/</p>
  </div>
</div>