<h1>Goodbye cluttered bookmarks bar.</h1>
<h3>Hello Mylinks</h3>
<p> Keep all your favorite links in one place. </p>			
<a href="#about" class="btn btn-skin scroll">Learn more</a>
<div><%= link_to "Sign up", new_user_registration_path, class: "btn btn-skin" %></div>
		</div>	
    </section>
	<!-- /Section: intro -->

	<!-- Section: about -->
    <section id="about" class="home-section text-center bg-gray">
		<div class="heading-about marginbot-50">
			<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
		
					<div class="section-heading">
					<h2>About us</h2>
					<p>Lorem ipsum dolor sit amet, no nisl mentitum recusabo per, vim at blandit qualisque dissentiunt. Diam efficiantur conclusionemque ut has</p>
					</div>
			
				</div>
			</div>