/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import url(https://fonts.googleapis.com/css?family=Permanent+Marker|Rock+Salt|Caveat+Brush);
@import url(https://fonts.googleapis.com/css?family=Archivo+Narrow:400,700|Hammersmith+One|Permanent+Marker|Gochi+Hand);

// $font-family-sans-serif: 'Gochi Hand', cursive;
$font-family-sans-serif: 'Archivo Narrow', sans-serif;
// font-family: 'Hammersmith One', sans-serif;
// font-family: 'Permanent Marker', cursive;
// font-family: 'Gochi Hand', cursive;

$brand-primary: #129793;
// $brand-danger: #FF7260;
$brand-danger: #505050;
$navbar-default-link-color: white;

@import 'bootstrap-sprockets';
@import 'bootstrap';

body {
    // background-image: url("paper.gif");
    // background-color: #FFF5C3;
}

.handwritten {
  font-family: 'Caveat Brush', cursive;
}

h1 {
    font-size: 500%; 
}

.no-br{
    display: inline;
}

.navbar-default {
    background-color: #05706c;
    border-color: #05706c;
  }

h1 {
    text-align: center;
}

.bookmark-panel {
    border-style: solid;
    border-width: 0px 0px 0px 5px;
    text-align: center;
    border-color: #b0afaf;
}
    
.topic-panel {
    text-align: center;
}

.bookmark-panel {
    margin-bottom: 20px;
    background-color: #F6F6F6;
    
}

.row-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
    
.row-flex > [class*='col-'] {
    display: flex;
    flex-direction: column; 
}

.btn {
  display: inline-block;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 15px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  text-shadow:0px 1px 0px rgba(0,0,0,0.5);
-ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#ff123852,Positive=true)";zoom:1;
filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#ff123852,Positive=true);
  -moz-box-shadow:0px 2px 2px rgba(0,0,0,0.2);
  -webkit-box-shadow:0px 2px 2px rgba(0,0,0,0.2);
  box-shadow:0px 2px 2px rgba(0,0,0,0.2);
  -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=2,Color=#33000000,Positive=true)";
filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=2,Color=#33000000,Positive=true);
}